{% extends "admin_base.html" %}

{% block title %} ... {% endblock %}

{% load static %}

{% block content %}

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Administrar <b>Usuarios</b></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Nombre </th>
                        <th>Email</th>
                        <th>Tipo de cuenta</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for i in users %}
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>{{ i.username }}</td>
                        <td>{{ i.email }}</td>
                        {% if i.is_staff %}
                        <td>Administrador</td>
                        {% elif i.premium %}
                        <td>Premium</td>
                        {% else %}
                        <td>Gratuito</td>
                        {% endif %}
                        {% if i.is_active %}
                        <td>Activo</td>
                        {% else %}
                        <td>Suspendido</td>
                        {% endif %}
                        
                        <td>
                            <a class="ver" href="#">
                                <span class="fa-solid fa-eye"></span>
                            </a>
                            <a class="editar" href="#">
                                <span class="fa-solid fa-user-pen"></span>
                            </a>
                            <a class="eliminar" href="#">
                                <span class="fa-solid fa-trash-can"></span>
                            </a>                  
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>        
</div>

</div>

{% endblock %}