{% extends "admin_base.html" %}

{% block title %} ... {% endblock %}

{% load static %}

{% block content %}
{% load humanize%}

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col">
                        <h2>Administrar <b>Productos</b></h2>
                        <a class="add-product btn btn-primary" type="button" href="{% url 'addproduct' %}" role="button">
                            Añadir Producto
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Producto </th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for producto in page_obj %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>${{ producto.precio|intcomma }} CLP</td>
                        <td>{{ producto.stock }}</td>
                        <td>
                            <a class="ver" href="{% url 'product' producto.id %}">
                                <span class="fa-solid fa-eye"></span>
                            </a>
                            <a class="editar" href="{% url 'editproduct' producto.id %}">
                                <span class="fa-solid fa-pen-to-square"></span>
                            </a>
                            <a class="eliminar" href="#" data-bs-toggle="modal" data-bs-target="#deleteproduct{{ producto.id }}">
                                <span class="fa-solid fa-trash-can"></span>
                            </a>
                            <div class="modal fade" id="deleteproduct{{ producto.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteproduct" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteproduct">Confirmación</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar {{ producto.nombre }}?
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'deleteproduct' producto.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>              
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>{{ page_obj.start_index }}</b> to <b>{{ page_obj.end_index }}</b> of <b>{{ page_obj.paginator.count }}</b> entries</div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><a href="#" class="page-link">{{ num }}</a></li>
                        {% else %}
                            <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                    {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>        
</div>

</div>
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-labelledby="modal-messageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-messageLabel">Mensaje de Confirmación</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% if messages %}
<script>
    $(document).ready(function() {
        $('#modal-message').modal('show');
    });
</script>
{% endif %}
{% endblock %}