{% extends "admin_base.html" %}

{% block title %} ... {% endblock %}

{% load static %}

{% block content %}
{% load humanize%}

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col">
                        <h2>Administrar <b>Productos</b></h2>
                        <a class="add-product btn btn-primary" type="button" href="{% url 'addproduct' %}" role="button">
                            Añadir Producto
                        </a>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Producto </th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for producto in productos %}
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                <label for="checkbox1"></label>
                            </span>
                        </td>
                        <td>{{ producto.nombre }}</td>
                        <td>${{ producto.precio|intcomma }} CLP</td>
                        <td>{{ producto.stock }}</td>
                        <td>Suspendido</td>
                        <td>
                            <a class="ver" href="#">
                                <span class="fa-solid fa-eye"></span>
                            </a>
                            <a class="editar" href="#">
                                <span class="fa-solid fa-user-pen"></span>
                            </a>
                            <a class="eliminar" href="#">
                                <span class="fa-solid fa-trash-can"></span>
                            </a>                  
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>        
</div>

</div>

{% endblock %}