.carrito h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Motiva Sans", Sans-serif;
}

.carrito h6 {
    color:white;
}

.carrito-borrar {
    color: red;
}

.detalle-compra p {
    color: white;
}

.detalle-compra {
    text-align: center;
}

.titulo {
    color: white;
    text-align: center;
}

.boleta-detalle {
    color: white;
    border: 1px solid #aa0b36;
}

#descargar-comprobante {
    color: #aa0b36;
    text-align: center;
}

#error-nocartitem {
    color: black;
}

.modal-body {
    text-align: center;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
    
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
    
.card-registration .select-arrow {
    top: 13px;
}
    
.bg-grey {
    background-color: #eae8e8;
}
    
@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
    
@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.cart-pagar.btn:hover {
    scale: 1.06;
}

.cart-pagar.btn {
    background-color:#aa0b36;
    border-color:#aa0b36;
}