{% extends 'base.html' %}

{% block title %}Mangas digitales en{% endblock %}

{% load static %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/mangastyle.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Mangas <b>Nuevos</b></h2>
			<div id="carouselExample" class="carousel slide">
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">								
                        {% for manga_nuevo in mangas_nuevos|slice:":4" %}
                        <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<a href="{% url 'mangapage' manga_nuevo.nombre %}">
										<img src="{{ manga_nuevo.portada.url }}" class="img-fluid" alt="">
									</a>
								</div>
								<div class="thumb-content">
									<h4>{{ manga_nuevo.nombre }} {{ manga_nuevo.tomo }}</h4>

									<div class="star-rating">
										<ul class="list-inline">
											
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 1 %} active{%endif%}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 2 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 3 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 4 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 5 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
										</ul>
									</div>
									<a href="{% url 'reader' manga_nuevo.id %}" class="btn btn-primary">Leer</a>
								</div>						
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
                        {% for manga_nuevo in mangas_nuevos|slice:"4:" %}
                        <div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<a href="{% url 'mangapage' manga_nuevo.nombre %}">
										<img src="{{ manga_nuevo.portada.url }}" class="img-fluid" alt="">
									</a>
								</div>
								<div class="thumb-content">
									<h4>{{ manga_nuevo.nombre }} {{ manga_nuevo.tomo }}</h4>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 1 %} active{%endif%}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 2 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 3 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 4 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
											<li class="list-inline-item {% if manga_nuevo.promedio_puntuacion >= 5 %} active{% endif %}">
												<i class="fa-solid fa-star"></i>
											</li>
										</ul>
									</div>
									<a href="{% url 'reader' manga_nuevo.id %}" class="btn btn-primary">Leer</a>
								</div>						
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            
		</div>
		</div>
	</div>
</div>
<section class="digital">
    <div class="container mangas-digitales">
      <h1>Todos los mangas digitales</h1>
	  
      <div id="mangas">
        <div class="container">
			<form class="search-form" method="GET" action="{% url 'mangas' %}">
			<div class="row buscador">
				<div class="col-md-4">
					<label for="q">Buscar por nombre:</label>
					<input id="q" class="form-control bg-dark text-light" type="text" name="q" placeholder="Buscar por nombre" value="{% if query %}{{ query }}{% endif%}">
					<button class="btn btn-secondary" type="submit">Buscar</button>
					<a class="btn btn-secondary" type="button" href="{% url 'mangas' %}">Limpiar</a>
				</div>
			</div>
			</form>	
          <div class="row">
            {% for manga in page_obj %}
            <div class="col-lg-3 col-sm-4 col-11 offset-sm-0 offset-1">
              <div class="card">
                <a href="{% url 'mangapage' manga.nombre %}">
                  <img class="card-img-top" src="{{ manga.portada.url }}" alt="{{ manga.nombre }}">
                </a>
                <div class="card-body card-mangadigital">
                  <p class="manga-nombre" href="#">{{ manga.nombre }} {{ manga.tomo }}</p>
  
                  <div class="col-md-12 text-center">
                    <a href="{% url 'reader' manga.id %}" class="btn manga-btn btn-lg btn-dark btn-block">Leer</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
		<div class="clearfix">
            <div class="hint-text">Mostrando <b>{{ page_obj.start_index }}</b> - <b>{{ page_obj.end_index }}</b> de <b>{{ page_obj.paginator.count }}</b> mangas.</div>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Anterior</a></li>
                {% else %}
                <li class="page-item disabled"><a href="#" class="page-link">Anterior</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a href="#" class="page-link">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente</a></li>
                {% else %}
                <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                {% endif %}
            </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}