{% extends 'base.html' %}

{% block title %} Tu tienda en{% endblock %}

{% load static %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/storestyle.css' %}"/>
{% endblock %}

{% block content %}
{% load humanize%}

<div class="product-main-container">
    <div class="container row-container">
        <div class="row">
            <div class="col-6">
                <div class="container product-image-container">
                    <img id="product-image" src="{{ productos.portada }}">
                </div>
            </div>
            <div class="col-6">
                <div class="container product-info-container">
                    <div class="product-name">
                        <a>{{ productos.nombre }}</a>
                    </div>
                    <div class="product-price">
                        <a>$ {{ productos.precio|intcomma }}</a>
                    </div>
                    <div class="product-desc">
                        <a>{{ productos.desc }}</a>
                    </div>
                    <div class="product-actions">
                        <p class="stock">{{ productos.stock }} en stock</p>
                        <button id="cart-add" class="btn btn-dark mr-md-3 mb-2 mb-md-0" type="button">Agregar al carrito</button>
                        <a href="#" class="wishlist-add">
                            <i id="wishlist-icon" class="bi bi-heart"></i>
                            Añadir a deseados
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

