{% extends 'base.html' %}

{% block title %} Tu tienda en {% endblock %}

{% load static %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/storestyle.css' %}"/>
{% endblock %}

{% block content %}

{% load humanize%}

<h2 class="tienda-titulo">Nuestros productos a tu disposición, ¡Echa un vistazo!</h2>
{% if categoria == 'manga' %}
<h2 class="tienda-titulo">POLLO</h2>
{% endif %}
<div class="store">
    <div id="sidebar">
        <div>
            <h6 class="p-1">Filtrar por nombre</h6>
            <input type="text" id="filter-name" class="form-control" onkeyup="FilterAll()"  placeholder="Nombre del producto">
        </div>
        <div>
            <h6 class="p-1 border-top">Rango de precio:</h6>
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="0" max="100000" value="0">
                <input type="range" class="range-max" min="0" max="100000" value="100000">
            </div>
            <div class="price-text flex-container">
                <div class="flex-child" id="value-min">$ 0</div>
                <div class="flex-child" id="separator">-</div>
                <div class="flex-child" id="value-max">$ 100,000</div>
            </div>
        </div>
        <div class="categorias">
            <h6 class="p-1 border-top">Filtrar por categorías</h6>
            <ul>
                <li><a class="mangas" href="?categoria=mangas">Mangas</a></li>
                <li><a class="figuras" href="?categoria=figuras">Figuras</a></li>
                <li><a class="ropa" href="?categoria=ropa">Ropa</a></li>
            </ul>
        </div>
        <a type="button" class="btn btn-secondary" href="{% url 'store' %}">Limpiar filtros</a>
    </div>
    
    <div id="products">
        <div class="container">
            <div class="row">
                {% for producto in productos %}
                <div class="col-lg-3 offset-sm-0 offset-1">
                    <div class="card">
                        <a href="{% url 'product' producto.id %}">
                            <img class="card-img-top d-flex align-items-center justify-content-center" src="{{ producto.imagen }}" alt="{{ producto.nombre }}">
                        </a>
                        <div class="card-body">

                            <p class="manga-nombre card-title" href="{% url 'product' producto.id %}">{{ producto.nombre }}</p>
                            <p class="manga-precio card-text">${{ producto.precio|intcomma }} CLP</p>
                            <div class="card-footer bg-transparent text-center">
                                <a href="{% url 'add_to_cart' producto.id %}" class="btn tienda-btn btn-lg btn-dark btn-block">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<script src="{% static 'js/store.js' %}"></script>
<script>
    $(document).ready(function() {
      $('#productos-nuevos-carousel').carousel();
    });
</script>

<script>
    // Obtener la URL actual
    var url = new URL(window.location.href);
    // Obtener los parámetros de la URL
    var params = new URLSearchParams(url.search);
    // Obtener el valor del parámetro 'categoria'
    var categoria = params.get('categoria');


    // Buscar elementos con la misma clase que el valor obtenido
    var elementsWithSameClass = document.getElementsByClassName(categoria);
  
    // Agregar la clase "active" a los elementos encontrados
    for (var i = 0; i < elementsWithSameClass.length; i++) {
      elementsWithSameClass[i].classList.add('active');
    }
  </script>

{% endblock %}

{% block scripts %}

{% endblock %}